@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
}

button {
    border: none;
    background: none;
}

:root {
    /* primary */
    --orange: hsl(26, 100%, 55%);
    --light-orange: hsla(26, 100%, 55%, 0.291);
    --pale-orange: hsl(25, 100%, 94%);

    /* neutral */
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%); /* (with 75% opacity for lightbox background) */
}

.container {
    width: 78%;
    height: 100%;
    margin: 0 auto;
}

/* header */

header {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    width: 100%;
    height: 100%;
    padding: 4rem 0;
    display: grid;

    position: relative;

    grid-template-columns: auto 1fr auto;
    align-items: center;
    border-bottom: 0.5px solid var(--dark-grayish-blue);
}

.menu {
    display: none;
}

.nav {
    margin: 0 6rem;
    display: flex;
}

.nav li{
    margin-left: 3.2rem;
    position: relative;
}

.nav li span {
    background: var(--orange);
    position: absolute;
    top: 73px;
    left: 0;
    height: 4px;
    width: 0%;
    transition: width 0.1s ease-in-out;
}

.nav li a:hover {
    color: var(--very-dark-blue);
}

.nav li a:hover + span {
    width: 100%;
}

.nav li a {
    font-size: 1.5rem;
}

.cart-and-profile-img {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart {
    cursor: pointer;
}

.quantity-in-cart {
    position: absolute;
    font-size: 1.2rem;
    padding: 0.1rem 0.3rem;
    background: var(--orange);
    color: var(--white);
    border-radius: 30%;
    top: 18%;
    left: 12%;
    display: none;
}


.avatar {
    height: 55px;
    margin-left: 3rem;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: all 0.2s ease-in-out;
}

.avatar:hover {
    border: 2px solid var(--orange);
}

/* main-container */

main {
    padding: 8rem 5rem;
    min-height: 87vh;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* images section */

.images-section {
    flex: 0 0 500px;
    display: flex;
    flex-direction: column;
    margin: 0 5rem 10rem 0;
}

.main-img {
    height: 500px;
    border-radius: 1rem;
    background-image: url(./images/image-product-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.main-img div {
    display: none; 
    padding: 1.2rem 1.7rem;
    border-radius: 50%;
}

.main-img div svg {
    stroke: #1D2026;
    stroke-width: 3;
    fill-rule: evenodd;
    fill: none;
    width: 12; 
    height: 18;
}

.images-to-select-from {
    margin-top: 4.5rem;
    display: flex;
    justify-content: space-between;
}

.images-to-select-from img {
    height: 88px;
    border-radius: 0.5rem;
    border: 2px solid transparent;
}

.images-to-select-from div {
    position: relative;
    height: 88px;
    width: 88px;
    cursor: pointer;
}

.images-to-select-from div div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0.5rem;
    border: 2px solid transparent;
    z-index: -1;
}

.images-to-select-from div.selected-img div {
    border: 2px solid var(--orange);
    background: white;
}

.images-to-select-from div.selected-img img {
    filter: opacity(0.5);
}

.images-to-select-from div.selected-img:hover div {
    border: 2px solid var(--orange);
    scale: 1;
    background: white;
}

.images-to-select-from div:hover div {
    background: white;
    scale: 96%;
}

.images-to-select-from div:hover img {
    filter: opacity(0.5);
}

/* form section */

.form-section {
    margin: 0 0 10rem 5rem;
    flex: 0 0 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form-section > * {
    margin-top: 3rem;
}

.company-description {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
    user-select: none;
    -webkit-user-select: none;
    color: var(--orange);
}

.sneakers-model {
    margin-top: 2rem;
    font-size: 5rem;
    color: var(--very-dark-blue);
}

.sneakers-description {
    color: var(--dark-grayish-blue);
    line-height: 1.8;
}

.prices {
    display: flex;
    flex-direction: column;
    color: var(--very-dark-blue);
}

.prices div {
    position: relative;
}

.initial-price {
    font-size: 3rem;
    font-weight: bold;
}

.unsale {
    position: absolute;
    top: 50%;
    right: -50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.4rem 0.6rem;
    border-radius: 5px;
    background: var(--pale-orange);
    color: var(--orange);
}

.final-price {
    margin-top: 1.2rem;
    color: var(--grayish-blue);
    text-decoration: line-through;
}

.add-to-cart-section {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.quantity, .add-to-cart {
    border-radius: 5px;
}

.quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5rem;
    padding: 1rem;
    background: var(--light-grayish-blue);
    font-weight: bold;
}

.decrease-quantity, .increase-quantity, .add-to-cart {
    cursor: pointer;
}

.decrease-quantity:hover, .increase-quantity:hover, .add-to-cart:hover {
    filter: brightness(1.3);
}

.button {
    background: var(--orange);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    box-shadow: 0px 10px 15px 0px var(--light-orange);
}

.add-to-cart svg {
    fill: white;
    margin-right: 1.2rem;
}

/* popping up windows */

/* popup main img */

.popup-main-img {
    height: 500px;
    border-radius: 1rem;
    background-image: url(./images/image-product-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.popup-main {
    position: fixed;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.popup-main > * {
    user-select: none;
    -webkit-user-select: none;
}

.visible-flex {
    display: flex;
}

.popup-imgs-container {
    width: 600px;
}

.popup-imgs-container .main-img {
    height: 600px;
    border-radius: 2rem;
}

.popup-images-to-select-from {
    padding: 0 4rem;
}

.main-img-container {
    position: relative;
}

.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 2.1rem 2.3rem;
    border-radius: 50%;
    cursor: pointer;
}

.previous, .next {
    stroke: var(--very-dark-blue);
    stroke-width: 3; 
    fill: none;
    fill-rule: evenodd;
}

.svg-container:hover .previous, .svg-container:hover .next {
    stroke: var(--orange);
}

.svg-container-previous {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateX(-50%) translateY(-50%);
}

.svg-container-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(50%) translateY(-50%);
}

.cross-container {
    position: absolute;
    top: -40px;
    transform: translateX(-25%);
    right: 0;
    cursor: pointer;
}

.cross {
    fill: var(--white);
    fill-rule: evenodd;
    width: 14px;
    height: 15px;
    scale: 1.5;
}

.cross-container:hover .cross {
    fill: var(--orange);
}

/* popup cart */

.popup-cart {
    padding: 3rem 0;
    position: absolute;
    background: white;
    top: 0;
    right: 0;
    transform: translateY(40%);
    width: 350px;
    height: 280px;
    border-radius: 1.3rem;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.238);
    display: none;
}

.visible {
    display: block;
}

.popup-container {
    padding: 0 2rem;
}

.popup-container-center {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-text {
    font-weight: bold;
}

.empty-cart-text {
    font-weight: bold;
    color: var(--dark-grayish-blue);
}

.break-line {
    height: 1px;
    margin: 3rem 0;
    background-color: var(--grayish-blue);
    width: 100%;
}

.requisition {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description-of-requisition {
    display: flex;
    flex-direction: column;
    color: var(--dark-grayish-blue);
}

.popup-prices {
    display: flex;
}

.popup-prices p:nth-last-of-type(1) {
    margin-left: 10px;
    color: var(--very-dark-blue);
    font-weight: bold;
}

.requisition-picture {
    height: 55px;
    border-radius: 3px;
}

.check-out {
    margin-top: 3rem;
    width: 100%;
    padding: 2rem;
    border-radius: 1.3rem;
    box-shadow: none;
    cursor: pointer;
}

.delete {
    cursor: pointer;
}

/* popup menu */


.popup-menu .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 2rem;
    margin-top: 10rem;
}

.popup-menu .nav li {
    margin: 2rem 0 0 0;
}

.popup-menu .nav li a {
    color: var(--very-dark-blue);
    font-size: 2rem;
    font-weight: bold;
}

.popup-menu .nav li:hover a {
    color: var(--dark-grayish-blue);
}

.close-popup-menu {
    cursor: pointer;
    margin: 1.5rem 3rem;
}

.popup-menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: transparent;
    z-index: 20;
    display: none;
    transition: all 0.3s ease-in-out;
}

.background {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.nav-container {
    background: var(--white);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 60%;
}

.popup-menu-visible {
    display: block;
}

@media (max-width: 1510px) {

    .popup-main {
        display: none;
    }

    .images-section, .form-section {
        margin: 0 5rem 10rem 5rem;
    }

    .main-container {
        justify-content: center;
        align-items: center;
    }

    .main-img {
        cursor: default;
    } 
}

@media (max-width: 1100px) {
    .menu {
        display:block;
        margin-right: 15px;
        cursor: pointer;
    }
    .nav {
        display: none;
    }
}

@media (max-width: 700px) {

    header {
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        right: 0;
        background: var(--white);
        box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.302);
    }

    .avatar {
        height: 40px;
    }

    .nav-menu {
        padding: 2rem 0;
        border-bottom: none;
    }

    .container {
        width: 85%;
    }

    .main-container {
        width: 100%;
    }

    .images-section {
        margin: 0;
        flex-basis: 100vw;
    }

    .main-img {
        border-radius: 0;
        position: relative;
    }

    .images-to-select-from {
        display: none;
    }

    .form-section {
        margin: 0 5rem 5rem 5rem;
        height: fit-content;
    }

    .main-img {
        padding: 0 10rem;
    }

    .main-img div {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: var(--white);
        cursor: pointer;
    }

    .previous-btn {
        left: 30px;
    }
    .next-btn {
        right: 30px;
    }

    .previous-btn svg{
        transform: translateX(-10%) translateY(10%);
    }

    .next-btn svg {
        transform: translateX(10%) translateY(10%);
    }

    .previous-btn:hover svg, .next-btn:hover svg {
        stroke: var(--orange)
    }

    .prices {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .final-price {
        font-size: 2rem;
        margin: 0;
    } 

    .add-to-cart-section {
        grid-template-columns: 1fr;
        grid-template-rows: 50px 50px;
        gap: 1.5rem;
    }

    .quantity {
        margin: 0;
    }

}


@media (max-width: 550px) {
    .form-section {
        flex: 1 0 100%;
    }
    .popup-cart {
        width: 100%;
    }
}

@media (max-width: 350px) {
    .sneakers-model {
        font-size: 4rem;
    }
    .sneakers-description {
        font-size: 1.5rem;
    }
    .final-price {
        font-size: 1.2rem;
    }
    .description-of-requisition p {
        padding: 0 0.5rem;
        font-size: 1.2rem;
    }
}